.map {
    height: 300px;
    width: 40%;
    margin: 10px 15px;
}

.header1{
    font-size: 20px;
    margin: 15px 0px 5px 15px;
}

.header2{
    font-size: 18px;
    margin: 5px 0px 5px 15px;
}

.form{
    margin: 20px 15px;
}

.info{
    font-size: 16px;
    margin: 7px 15px;
}
